#wrapper {
	border: 5px solid black;
	border-radius: 10px;
	width: 490px;
	margin: auto;
	background-color: #cc0000;
	padding-bottom: 100px;
	text-align: center;
}

.linebreak {
	clear: both;
}
#wrapper > h1 {
	text-align: center;
	font-family: Helvetica;
	color: gold;
}

#wrapper a {
	background-color: white;
	text-decoration: none;
	font-family: Helvetica;
	text-align: center;
	color: black;
	border: solid black 2px;
	border-radius: 10px;
	padding: 20px;
	margin: 15px;
	float: left;
}

#sketch-wrapper {
	width: 480px;
	margin: auto;
	border: 1px solid black;
	background-color: #990000;
	text-align:center;
}

.grid { 
	float: left;
	background-color: white;
	border: 1px dotted gray;
}

#wrapper > #red {
	background-color: red;
}
#wrapper > #blue {
	background-color: blue;
}
#wrapper > #green {
	background-color: green;
}
#wrapper > #black {
	background-color: black;
}
#wrapper > #yellow {
	background-color: yellow;
}